<!-- views/change-password.ejs -->
<h1>Change Password</h1>
<% if (error) { %>
  <p style="color: red;"><%= error %></p>
<% } %>
<form action="/change-password" method="post">
  <label>Old Password:</label><br />
  <input type="password" name="oldPassword" required /><br />
  <label>New Password:</label><br />
  <input type="password" name="newPassword" required /><br />
  <button type="submit">Change Password</button>
</form>
